version: 2
updates:
  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    cooldown:
      default-days: 7

  # TODO: Dependabot does not support PEP 723 yet.
  # See: https://github.com/dependabot/dependabot-core/issues/11946
  # # Maintain dependencies for Python
  # - package-ecosystem: "pip"
  #   directory: "/"
  #   schedule:
  #     interval: "monthly"
